body {
  background-color: black;
  color: white;
  font-family:'Press Start 2P', Serif;
}


canvas {
  border: 3px solid blue;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.ui-slider {
    height: 10px;
    width: 200px;
    margin: 0 auto;
}